@font-face {
  font-family: "iconfont"; /* Project id 2916442 */
  src: url('iconfont.woff2?t=1636193159388') format('woff2'),
       url('iconfont.woff?t=1636193159388') format('woff'),
       url('iconfont.ttf?t=1636193159388') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-xiajiantou:before {
  content: "\e6cc";
}

